# Logs #
*.log

# Python cache #
*.pot
*.pyc
*/__pycache__/  

# Django settings #
# local_settings.py

# Django migrations #
*/migrations/  

# Database #
db.sqlite3

# Environments #
.env
venv/
*.env

# pyenv #
.python-version

# VSCode #
.vscode/

# JetBrains #
.idea/

# macOS #
.DS_Store

# Static and media #
staticfiles/
media/
